<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="success">Reciclica</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <app-error-message [field]="form.get('email')" [message]="'Email is mandatory'" error="required"></app-error-message>
          <app-error-message [field]="form.get('email')" [message]="'Email is invalid'" error="email"></app-error-message>


          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <app-error-message [field]="form.get('password')" [message]="'Password is mandatory'" error="required"></app-error-message>

          <ion-button
            [disabled]="!form.get('email')?.valid"
            color="dark"
            fill="clear"
            size="full">
            Forgot email/password
          </ion-button>
          <ion-button
            [disabled]="!form.valid"
            color="success"
            size="full"
            (click)="login()"
          >
            Login
          </ion-button>
          <ion-button color="success" fill="clear" size="full" (click)="register()">Register</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
